/* utility class */
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
    font-size: 4rem;
    padding-top: 7rem ;
}

h3 {
    text-align: center;
    line-height: 4rem;
    color: gray;
    font-weight: 400;
    padding-bottom: 5rem;
}

p {
    font-size: 1.9rem;
}

.bg_grey {
    background-color: #F3F5F9;
}


/* Navbar code */
.navbar {
    padding: 10px 0;
    background-color: #FFFFFF;
    font-size: 1.7rem;
    margin: unset;
}

.nav li a {
    color: black !important;
}

.navbar-toggle {
    border: unset;
    background-color: unset !important;
}
.navbar-toggle .icon-bar {
    background-color:#086AFF !Important;
}    

#logodigi {
    width: 150px;
    margin-top: -4px;    
}

.nav {
    padding-left: 80px;
}

.btn_sign_up {
    padding: 10px 20px;
    margin-top: 3px;
    font-size: 1.7rem;
    color:#086AFF;
    border: 1px solid#086AFF;
}
/* media for navbar to collapse sooner */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* navbar code */

/* hero section */
.hero_img {
    background-image: url(../img/bg-home-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_white {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 7rem 0;
}

font {
    color: #086AFF;
}

.hero_img .bg_white h2 {
    padding: 0;
    text-align: center;
    font-size: 3.2rem;
}

.hero_img .bg_white h6 {
    text-align: center;
}

.btn_create_acc , .btn_google {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: 1.2rem 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.form-control {
    font-size: 1.8rem;
    padding: 2rem 1rem;
}

.btn_create_acc {
    background-color: #086AFF;
    color: #FFFFFF;  
}

.btn_google {
    color: grey;
    padding-left: 10px;
    box-shadow: 2px 2px 2px lightgrey;
}

.btn_google img {
    float: left;
    padding-top: 4px;
}

.title_hero {
    color: #FFFFFF;
    margin-top: 10rem;
}

.title_hero h1 {
    font-size: 64px;
}

.title_hero h1 {
    font-size: 6.5rem;
}

.title_hero h3 {
    text-align: left;
    line-height: 4rem;
    color: lightgray;
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size:42px !important;
    }
}
/* hero section */

/* sponsor section */
.sponsor {
    text-align: center;
    background-color: #F3F5F9;
    padding: 25px 0;
}

.sponsor img {
    width: 100%;
    max-width: 186px;
    height: auto;
    padding: 10px;
}

.sponsor h5 a {
    font-size: 1.8rem;
    color: #086AFF;
}

.sponsor h4 {
    font-size: 1.8rem;
    color: grey;
}

#chevron {
    width: 4%;
}
/* sponsor section */

/* optimization section */
.menu_col {
    border-left: 3px solid lightgrey;
    padding-left: 0;
    
}

.optimization ul li {
    list-style: none;
}

.optimization ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 2.4rem;
    color: grey;
    line-height: 5rem;
}

.card_optimization {
    min-height: 240px;
    
}

.card_optimization h3 {
    text-align: left;
    padding: 0.4rem 0;
    color: black;
    font-weight: 500;
}

.card_optimization p {
    font-size: 1.9rem;
    color: grey;
}
/* optimization section */

/* design section */
#droplets {
    padding-bottom: 3rem;
    width: 60%;
}

.design i {
    font-size: 4rem;
    padding: 4rem;
}

.btn_series {
    margin-bottom: 5rem;
}

.btn_dot {
    border: 2px solid#086AFF;
    border-radius: 100%;
    padding: 5px 5px;
}
.btn_dot_active {
    border: 2px solid #086AFF;
    border-radius: 100%;
    padding: 5px 5px;
    background-color: #086AFF !important;
}


